/*    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;*/


body {
  font-size: 16px;
  color: #fff;
  background-color: #940a3b; 
/* NEED TO CHAMGE  #61122f  #c03c55  #c03c88  #ac1a50 #bf1353 #a01345 #940a3b */
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: 'Oxygen', sans-serif;*/
}


/** HEADER **/
#header-nav {
  background-color: #f6b319 ; /*#f6b319  #ffb400*/
  border-radius: 0;
  border: 0;
}

#my-img {
/*  background: url('../images/Rashid_130.149.jpg') no-repeat; */
  background: url('../images/cuet3.jpg') no-repeat;
  border-radius: 8px;
  width: 130px;
  height: 140px;
  margin: 12px 15px 10px 0;
}

.navbar-brand {
  padding-top: 30px;
}

.navbar-brand h1 { /* Name */
  font-family: 'Lora', serif;
  color: green; /* #557c3e */
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 50px;
}
/* END HEADER */


#main-content a {
  color: lightgreen; /* #f5f2d0 lightblue lightgreen */
  }

.about h2 {
  margin-top: 5px;
  margin-bottom: -12px;
  font-size: 2em;
  font-weight: bold;
}

.about {
margin-bottom: 30px;
}

#description {
  margin-bottom: 30px;
  text-align: justify;
  font-size: 1.15em;
}


#created-by {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 2px;
}

table, th, td {
  border: 1.5px solid lightgreen;
}

th, td {
  padding: 5px 10px 5px 10px;
}

#th-title {
  font-size: 1.4em;
}

th, tr {
  text-align: center;
}

td {
  font-size: 1.1em;
}

.poster-title {
  text-align: justify;
}

/* END BODY PAGE */


/* FOOTER */
.panel-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
  border-top: 0;
  border-radius: 0;
}

/* END FOOTER */

/********** Large devices only **********/
@media (min-width: 1200px) {


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #my-img {
/*    background: url('../images/Rashid_100.115.jpg') no-repeat; */
    background: url('../images/cuet4.jpg') no-repeat;
    width: 100px;
    height: 115px;
    margin: 10px 3px 5px 0px;
  }
    /* End Header */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 0px;
    height: 80px;
  }

  .navbar-brand h1 { /* Name */
    font-size: 5.0vw; /* 1vw = 1% of viewport width */
  }
  
  /* End Header */

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  .about h2 {
	font-size: 1.6em;
  }

  .about h3 {
  font-size: 1.3em;
  }

  #th-title {
    font-size: 1.1em;
  }
 
}

/********** Super Extra small devices only **********/
@media (max-width: 500px) {
  /* Header */

  .navbar-brand {
    padding-top: 0px;
    height: 80px;
  }

  .navbar-brand h1 { /* Name */
    font-size: 5.0vw; /* 1vw = 1% of viewport width */
  }

  .about h2 {
	font-size: 1.3em;
  }

  .about h3 {
  font-size: 1.2em;
  }

}
